---
import GitHubIcon from "@assets/github-mark.svg";
import EmailIcon from "@assets/email.svg";
import LinkedInIcon from "@assets/linkedin.svg";
import FavIcon from "@assets/favicon.svg";
import socialLinksData from "@content/socialLinks.json";

const title: string = "meelis.dev";

const iconMap = {
  EmailIcon,
  LinkedInIcon,
  GitHubIcon,
};

type IconName = keyof typeof iconMap;

interface SocialLink {
  name: string;
  href: string;
  iconName: IconName;
  external: boolean;
}

const typedSocialLinksData = socialLinksData as SocialLink[];

const socialLinks = typedSocialLinksData.map((link) => ({
  ...link,
  icon: iconMap[link.iconName],
}));
---

<nav aria-label="Main Navigation" class="w-full">
  <div class="max-w-4xl mx-auto flex justify-between items-center py-5">
    <div class="flex items-center space-x-2">
      <FavIcon
        aria-hidden="true"
        class="w-6 h-6 transform transition duration-300 hover:-translate-y-1 hover:scale-[1.25] text-primary-logo"
        fill="currentColor"
      />

      <a
        class="text-lg font-bold underline focus:outline-none focus:ring text-primary-nav"
        href="/"
      >
        {title}
      </a>
    </div>
    <ul class="flex space-x-6">
      {
        socialLinks.map(({ name, href, icon: Icon, external }) => (
          <li class="relative group text-primary-nav hover:animate-wiggle focus-within:animate-wiggle">
            <a
              href={href}
              {...(external
                ? { target: "_blank", rel: "noopener noreferrer" }
                : {})}
              aria-label={
                name === "Email"
                  ? "Send me an email"
                  : `Visit my ${name} profile`
              }
              class="focus:outline-none focus:ring group-focus-within:scale-[1.25] focus:ring-2 focus:ring-dotted focus:ring-primary-logo"
            >
              <Icon
                aria-label={`${name} icon`}
                class="w-6 h-6 transform transition duration-300 group-hover:-translate-y-1 group-hover:scale-[1.25] group-focus-within:-translate-y-1"
                role="img"
                stroke="currentColor"
              />
            </a>
            <span class="absolute opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 -bottom-8 left-1/2 transform -translate-x-1/2 bg-primary-tooltip text-secondary-tooltip text-xs px-2 py-1 rounded transition-opacity duration-200 whitespace-nowrap pointer-events-none">
              {name}
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
